.example-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }
  .mat-column-amount {
    display:flex;
    justify-content: flex-end;
  }
  .mat-column-name {
    flex: 4;
    display:flex;
    justify-content: flex-start;
  }
  table {
    width: 100%;
  }
